body{
    background-color: #CFCFCF;
    padding:00;
    margin:30;
}

header{
    width:100%;
    height:70px;
    background-color:#B4D9EE;
}
span{
    color: #ffffff;
}
ul{
    width:auto;
    float:right;
    margin:8px;
}
li{
    display:inline-block;
    padding: 15px,30px;
}
a{
    text-align: center;
    color: #ffffff;
    font-size: 1.2vw;
}
a:hover{
    color: #F0c330;
    transition: 0.5s;
}
#carouselExampleControls{
   width: 900px;
  
};