body{
    background-color: #CFCFCF; 
   
    padding:00;
    margin:30;
}
/*
header{
    width:100%;
    height:70px;
    background-color:#B4D9EE;
} */
span{
    color: #ffffff;
}
ul{
    width:auto;
    float:right;
    margin:8px;
}
li{
    display:inline-block;
    padding: 15px,30px;
}
a{
    text-align: center;
    color: #ffffff;
    font-size: 1.2vw;
}
#nav-link{
    float: right;
    padding:10px;
}
#card_one{
    float:left;
    padding:10px;
}
#card_two{
    float:center;
    padding:10px;
}
#card_three{
    float:left;
    padding:10px;
}
#card_four{
    float:center;
    padding:10px;
};